<ion-header [translucent]="true">
  <ion-toolbar color="dark">
    <ion-title>
      {{titulo}}
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true" color="dark">
  <ion-img src="../../assets/YASMOTORS.png" alt="YasMotors"></ion-img>
  <ion-card *ngFor="let card of cards" >
    <ion-card-header>
      <ion-card-title>{{ card.titulo }}</ion-card-title>
      <ion-card-subtitle>{{ card.subtitulo }}</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
    {{ card.conteudo }}
    </ion-card-content>

    <ion-img  [src]="card.foto"></ion-img>
    
  </ion-card>
</ion-content>
